$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
.movie {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: rgb(255, 255, 255);
        background: linear-gradient(260deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 90%);
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        padding: 50px 0;
        max-width: 1400px;
        margin: 0 auto;

        @media (max-width: 992px) {
            padding: 75px 0 50px 0;
        }
    }

    &__poster {
        flex-shrink: 0;
        max-width: 300px;
        max-height: 450px;
        width: 100%;
        height: 100%;
        margin-right: 30px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        @media (max-width: 768px) {
            max-width: 170px;
        }
        @media (max-width: 586px) {
            display: none;
        }
    }
    &__title {
        @include adaptiv-font(55, 25);
        margin-bottom: 10px;
    }
    &__details {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: 25px;

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__detail {
        opacity: 0.7;
        &:not(:last-child) {
            margin-right: 30px;
        }

        @media (max-width: 992px) {
            margin-top: 10px;
        }
    }
    &__genres_list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 30px;

        @media (max-width: 992px) {
            margin-top: 10px;
        }

        @media (max-width: 586px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-right: 0;
        }
    }
    &__genre {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 7px;
        }
        @media (min-width: 586px) {
            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 20px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -13px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: var(--color-white);
                    transform: translateY(-50%);
                }
            }
        }
    }
    &__genre_link {
        color: var(--color-white);
        transition: color 0.3s;

        @media (min-width: 992px) {
            &:hover {
                color: var(--color-highlight);
                transition: color 0.3s;
            }
        }
    }
    &__descr {
        max-width: 750px;
        width: 100%;

        &_title {
            font-size: 25px;
            margin-bottom: 10px;

            @media (max-width: 586px) {
                font-size: 22px;
            }
        }
        &_info {
            letter-spacing: 0.5px;
            line-height: 150%;

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
    &__actions {
        position: absolute;
        top: 10px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 280px;
        padding: 10px;
        background-color: var(--color-actions);
        border-radius: 10px;
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 15px 0px var(--color-actions);
    }
    &__action {
        position: relative;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba(0, 0, 0, 1);
                transition: background-color 0.3s;
            }
        }

        svg {
            width: 20px;
            height: 20px;
        }
        a {
            display: flex;
        }
        &:hover,
        &:focus {
            .movie__action_tooltip {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.5s, visibility 0.5s;
            }
        }
        &:nth-child(4) {
            .movie__action_tooltip {
                left: -250%;
                &::before {
                    left: 81%;
                }
            }
        }
    }
    &__action_tooltip {
        position: absolute;
        bottom: -50px;
        border-radius: var(--border-radius);
        padding: 7px 15px;
        background-color: var(--color-actions);
        backdrop-filter: blur(5px);
        white-space: nowrap;
        font-size: 14px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;

        &::before {
            content: "";
            position: absolute;
            top: -6px;
            left: 50%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 6px 6px;
            border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
            transform: translateX(-50%);
        }
    }
    &__tagline {
        margin-bottom: 25px;
        opacity: 0.7;
        font-size: 20px;
        letter-spacing: 0.5px;
    }
}