.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    background: var(--color-header);
    width: 100%;
    height: 70px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        @media (max-width: 576px) {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            background-color: var(--color-black);
            opacity: 0.85;
            transform: translateX(-130%);
            transition: transform 0.3s;

            &_active {
                transform: translateX(0);
                transition: transform 0.3s;
            }
        }
    }
    &__list {
        display: flex;

        * + * {
            padding-left: 25px;

            @media (max-width: 576px) {
                padding-left: 0;
                padding-top: 30px;
            }
        }

        @media (max-width: 576px) {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
        }
    }
    &__link {
        position: relative;
        color: var(--color-white);

        &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: var(--color-white);
            transition: width 0.5s;
            transform: translateX(-50%);
        }
        @media (min-width: 992px) {
            &:hover {
                &::after {
                    width: 100%;
                    transition: width 0.5s;
                }
            }
        }

        &_active {
            &::after {
                width: 100%;
            }
        }

        @media (max-width: 576px) {
            font-size: 30px;
        }
    }
    &__login {
        margin-left: 15px;
        background-color: transparent;
        color: var(--color-white);
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__search {
        width: 0;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: var(--color-white);
        transition: width 0.3s;

        &_active {
            width: 100%;
            transition: width 0.3s;

            .search__wrap {
                &::before {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 0.3s, visibility 0.3s;
                }
            }
        }
        label {
            width: 20px;
            height: 20px;
        }
    }
    &__logo {
        width: 40px;
        height: 40px;
    }
    &__searched_list {
        padding: 0;
        max-height: 0;
        width: 0;
        border-bottom: 0px solid var(--color-border);
        color: var(--color-black);
        overflow: auto;
        transition: max-height 0.3s, padding 0.3s, opacity 0.3s, visibility 0.3s, border-bottom 0.3s width 0.3s;

        &_active {
            border-bottom: 2px solid var(--color-border);
            padding: 5px 0;
            width: 100%;
            max-height: 220px;
            opacity: 1;
            visibility: visible;
            transition: max-height 0.3s, padding 0.3s, opacity 0.3s, visibility 0.3s, border-bottom 0.3s;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
    &__searched_item {
        transition: background-color 0.3s;

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-black);
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: var(--color-header);
                transition: background-color 0.3s;

                svg {
                    fill: var(--color-white);
                    transition: fill 0.3s;
                }
                .header__searched_link {
                    color: var(--color-white);
                    transition: color 0.3s;
                }
            }
        }

        svg {
            margin-right: 10px;
            width: 20px;
            height: 20px;
            transition: fill 0.3s;
        }
    }
    &__searched_info {
        padding: 7px 12px;
    }
    &__searched_indicator {
        display: inline-block;
        padding-left: 15px;
        opacity: 0.7;
    }
    &__searched_link {
        display: flex;
        align-items: center;
        padding: 7px 12px;
        color: var(--color-black);
        transition: color 0.3s;
    }
    &__search_btn {
        background-color: transparent;
        svg {
            width: 25px;
            height: 25px;
        }
    }
}
.search {
    width: 0;
    color: var(--color-black);
    background-color: transparent;
    border-bottom: 2px solid var(--color-border);
    padding: 12px 0px;
    opacity: 0;
    visibility: hidden;
    transition: width 0.3s, padding 0.3s, opacity 0.3s, visibility 0.3s;

    &::placeholder {
        font-size: 0.8rem;
        color: var(--color-black);
        opacity: 0.7;
    }

    &__active {
        width: 100%;
        padding: 12px 15px 12px 45px;
        opacity: 1;
        visibility: visible;
        transition: width 0.3s, padding 0.3s, opacity 0.3s, visibility 0.3s;
    }

    &__wrap {
        &::before {
            content: '';
            position: absolute;
            top: 11px;
            left: 15px;
            width: 20px;
            height: 20px;
            background-image: url("../../../img/search.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}
.burger {
    position: relative;
    z-index: 10;
    width: 30px;
    height: 20px;
    background-color: transparent;

    &::after,
    &::before,
    span {
        content: '';
        position: absolute;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: var(--color-white);
        transition: transform  0.3s;
    }
    &::before {
        top: 0;
        transition: transform  0.3s, top 0.3s;
    }

    &::after {
        bottom: 0;
        transition: transform  0.3s, bottom 0.3s;
    }

    &_active {
        span {
            transform: scale(0);
            transition: transform  0.3s;
        }
        &::after {
            transform: rotate(45deg);
            bottom: 10px;
            transition: transform  0.3s, bottom 0.3s;
        }
        &::before {
            transform: rotate(-45deg);
            top: 9px;
            transition: transform  0.3s, top 0.3s;
        }
    }
}